body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #006699;
}

#clearbtn {
    margin-top: 2em;
    width: 500px;
    height: 50px;
    border: 2.5px solid black;
}

.tile {
    border: 0.1px dashed grey;
}